<div id="my-cart-842164"></div>
<div>
<script type="text/javascript" src="https://app.ecwid.com/script.js?842164&data_platform=code&data_date=2016-06-14" charset="utf-8"></script>
<!-- remove layout parameter if you want to position minicart yourself -->
<script type="text/javascript"> xMinicart("layout=attachToCategories", "id=my-cart-842164"); </script>
</div>