<div class="w3-row">
    <div class="w3-col" style="width:20%"><p>&nbsp;</p></div>
    <div class="w3-col" style="width:60%"><logo>{{ site.seo_title }}</logo></div>
    <div class="w3-col" style="width:20%"><p>&nbsp;</p></div>
</div>