@import url(https://fonts.googleapis.com/css?family=Amatic+SC:700);
@import url(https://fonts.googleapis.com/css?family=Dosis:300);
/*HTML*/
html, body {
  font-family: "Dosis", sans-serif
}
h1, h2, h3, h4, h5 {
  font-family: "Amatic SC", sans-serif
}
div.w3-content.w3-container {
  margin-top: 20px !important
}
img {
  width: 100%;
}
logo {
  color: #fff;
  font-family: 'Amatic SC', cursive;
  font-size: 4em;
  text-shadow: 4px 4px 8px #000000
}
footer {
  margin-bottom: 50px
}
/*W3CSS*/
.w3-theme-l5 {
  color: #000 !important;
  background-color: #f8f8f8 !important
}
.w3-theme-l4 {
  color: #000 !important;
  background-color: #e6e6e7 !important
}
.w3-theme-l3 {
  color: #000 !important;
  background-color: #cdcecf !important
}
.w3-theme-l2 {
  color: #000 !important;
  background-color: #b4b5b7 !important
}
.w3-theme-l1 {
  color: #fff !important;
  background-color: #9b9c9f !important
}
.w3-theme-d1 {
  color: #fff !important;
  background-color: #75767a !important
}
.w3-theme-d2 {
  color: #fff !important;
  background-color: #68696c !important
}
.w3-theme-d3 {
  color: #fff !important;
  background-color: #5b5c5f !important
}
.w3-theme-d4 {
  color: #fff !important;
  background-color: #4e4f51 !important
}
.w3-theme-d5 {
  color: #fff !important;
  background-color: #414244 !important
}
.w3-theme-light {
  color: #000 !important;
  background-color: #f8f8f8 !important
}
.w3-theme-dark {
  color: #fff !important;
  background-color: #414244 !important
}
.w3-theme-action {
  color: #fff !important;
  background-color: #414244 !important
}
.w3-theme {
  color: #fff !important;
  background-color: #838487 !important
}
.w3-text-theme {
  color: #838487 !important
}
.w3-theme-border {
  border-color: #838487 !important
}
.w3-hover-theme:hover {
  color: #fff !important;
  background-color: #838487 !important
}
.mySlides {
  display: none
}
.w3-left, .w3-right, .w3-tag {
  cursor: pointer
}
.w3-tag {
  height: 15px;
  width: 15px;
  padding: 0;
  margin-top: 6px
}
.w3-xlarge {
  text-shadow: 1px 1px 1px rgba(240, 162, 40, 0.34)
}
.w3-top, .w3-bottom {
  position: revert
}
.w3-navbar {
  margin-top: 18px
}
.w3-row {
  text-align: center
}
.w3-navbar li a:hover {
  color: #fff;
  background-color: #4CAF50
}
.slider {
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
}
.ecwidfix {
  padding-bottom:16px;
  margin-top:80px;
  margin-bottom:50px
}