---
title: Le Shop
slug: shop
position: 0
listed: true
published: true
is_layout: false
seo_title: Le Shop
editable_elements:
  body/topbar: "<h1><b>WE LIKE FRESH \U0001F331</b></h1>"
---
{% extends 'layouts/default' %}
{% block 'body' %}
{% include 'nav' %}
{% include 'tease' %}
{% include 'shop' %}
{% endblock %}