---
title: The Shop
slug: shop
seo_title: Le Shop
editable_elements:
  body/topbar: "<h1><b>WE LIKE FRESH \U0001F331</b></h1>"
---
{% extends 'layouts/default' %}
{% block 'body' %}
{% include 'nav' %}
{% include 'tease' %}
{% include 'shop' %}
{% endblock %}