---
title: Default layout
slug: default
position: 99
listed: false
published: false
is_layout: false
---
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ site.seo_title }}</title>
    <link rel="shortcut icon" href="{{ 'favicon.png' | theme_image_url }}">
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css">
    {{ 'w3' | stylesheet_tag }}
    {{ 'application' | stylesheet_tag }}
  </head>
  <body>
  {% include 'topbar' %}
  <div class="w3-content w3-container" style="padding-bottom:16px;margin-top:80px;margin-bottom:50px">
  {% block 'body' %}
  {% endblock %}
  </div>
  {% include 'footer' %}
  {% include 'parallax' %}
  {% if wagon %}<script src="http://localhost:35729/livereload.js"></script>{% endif %}
  </body>
</html>